@charset "Shift_JIS";

body {
	margin: 0;
	padding: 0;
	border: 0;
	color: #000;
	background-color: #fff;
}

A:link { color: blue; }
A:visited { color: blue; }
A:active { color: red; }
A:hover { color: red; }

.main {
	font-size: 10pt;
}

#header{
	width:100%;
	margin:0;
	padding:0;
	min-width:760px;
	font-size: 12px;
	line-height: 1;
}

div#tn-head ul#tn-top {
	background:#ccc url(../images/bg.gif) repeat-x;
	border-bottom:1px solid #eee;
	border-top:1px solid #ccc;
	list-style:none;
	margin:6px 0 0 0;
	padding:7px 0px;
	text-align:center;
	font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-weight:bold;
	line-height:100%;
}

#tn-head #tn-top li {
	display:inline;
	margin:0;
	padding:0;
}

#tn-head #tn-top li a:link,
#tn-head #tn-top li a:visited {
	background-color:transparent;
	border-right:1px #ccc solid;
	border-left:1px #fff solid;
	color:#333;
	margin:0;
	padding:7px 8px 8px 8px;
	text-decoration:none;
}

#tn-head #tn-top li a:link.end,
#tn-head #tn-top li a:visited.end{
	background-color:transparent;
	background-image:url(../images/bg04.gif);
	background-position:right;
	background-repeat:repeat-y;
	border-right:0px #ccc solid;
}

#tn-head #tn-top li a:hover, #tn-head #tn-top li a:hover.end {
	background: #f7f7f7 url(../images/bg02.gif) repeat-x;
	border-bottom:1px solid #fff;
	border-top:0px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	color:#333;
	padding-bottom:9px;
	padding-top:9px;
	text-decoration:underline;
}

#tn-head #tn-top li.top-on a:link,
#tn-head #tn-top li.top-on a:visited {
	background:#fff;
	border:1px #999 solid;
	border-bottom-width:0px;
	border-bottom-color:#fff;
	border-left-color:#999;
	border-top-color:#999;
	color:#333;
	margin:0;
	padding:10px 8px 9px 8px;
}

