doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title プライバシー・ポリシー
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/style.css")
    //if lt IE 9
      script(src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv-printshiv.min.js")
      script(src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
    //if lt IE 8
    script(src="js/tagManager.js" type="text/javascript")
  body#_top
    .container
      .header
        .logoImg
          h1
            a(href="index.html")
              img.logo(src="images/logo2.png" border="0")
        .company 新田システム事務所
      .menu
        ul
          li
            a(href="index.html") ホーム
          li
            a(href="profile.html") 会社概要
          li
            a(href="https://github.com/mnitta220/nngb/") 脳内碁盤
          li
            a(href="https://mnitta220.github.io/bnan/") 文章暗記
          li
            a(href="https://mnitta220.github.io/yuimarl/") Yuimarl
      .cols
        .col
          .entry
            h1 プライバシー・ポリシー
            h2 新田システム事務所　個人情報保護方針
            p
              | 当事務所は、個人情報の保護は重要な社会的責務と捉えております。 日本工業規格（JIS Q15001）に準拠した個人情報保護に関するコンプライアンス・プログラムを定め、以下の指針に基づき個人情報の保護に取り組みます。
            ol
              li
                | 個人情報に関する法令・規範の遵守
                br
                | 当事務所は、個人情報に関する法令およびその他の規範を遵守します。
              li
                | 個人情報の収集、利用および提供
                br
                | 当事務所は、適切な個人情報の収集、利用および提供に関する規則を定め、これを遵守します。個人情報はご本人の同意を得た上で収集し、利用目的の範囲を超えて取り扱うことはありません。
              li
                | 個人情報の適正かつ安全な管理
                br
                | 当事務所は、個人情報の適正な管理を行い、個人情報への不正アクセス、個人情報の紛失、破壊、改ざんおよび漏洩に対する万全の予防策を実施することにより、個人情報の安全性の確保を図ります。
              li
                | コンプライアンス・プログラムの継続的改善
                br
                | 当事務所は、個人情報保護を適切に維持するため、コンプライアンス・プログラムの運用状況について継続的に改善してまいります。
            p
              | 2020年 10月 1日
              br
              | 新田システム事務所
        .col
          .submenu
            h3 CONTENTS
            ul
              li
                a(href="index.html") ホーム
              li
                a(href="profile.html") 事務所概要
              li
                a(href="https://github.com/mnitta220/nngb/") 脳内碁盤
              li
                a(href="https://mnitta220.github.io/bnan/") 文章暗記
              li
                a(href="https://mnitta220.github.io/yuimarl/") Yuimarl
      .footer
        p
          a(href="privacy.html") プライバシー・ポリシー
          br
          | Copyright © 2020 Masahiro Nitta. All rights reserved.
