.row.bg-dark.px-2.px-md-0
  nav.navbar.navbar-expand-md.navbar-dark.sticky-top.px-2
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content"
    aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-content
      ul.navbar-nav.me-auto
        li.nav-item
          a.nav-link(href="index.html") ホーム
        li.nav-item.active
          a.nav-link(href="profile.html") 事務所概要
        li.nav-item
          a.nav-link(href="https://github.com/mnitta220/nngb/") 脳内碁盤
        li.nav-item
          a.nav-link(href="https://mnitta220.github.io/bnan/") 文章暗記
        li.nav-item
          a.nav-link(href="yuimarl/index.html") Yuimarl
